body {
  background-color: #0D47A1;
  color: #212121;
  display: flex;
  Flex-direction: column;
  align-items: center;
}
.container {
  background-color: #455A64;
  border: 20px solid #455A64;
  border-radius: 30%;
  margin-bottom: 1em;
}

.search-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: #455A64;
  height: 2em;
  margin-bottom: 2vh;
}

.search-form input {
  background-color: #455A64;
  border: none;
  text-align: center;
}

.results {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.artist {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-basis: 20%;
}

.song {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-basis: 20%;
}
